@import './breakpoints.scss';


article.sidebar {
	background-color: var(--dark-color);
	margin: var(--vertical-rhythm) 0 var(--padding-lg);
	color: var(--pale-taupe);
	padding: var(--scale-reg);
	border: var(--hero-border);
	width: 100%;
	overflow: hidden;
	&.left {
		width: 50%;
		margin-left: 1em;
	}
	a {
		color: var(--cosmic-latte);

		&:hover {
			color: var(--light-color);

		}
	}
	.image-box {
		float: left;
		width: 50%;
		// margin-right: 1em;
		border: none;
		> .image-box-img + .image-box-img {
			margin-top: 0.5em;
		}
	}
	@media (min-width: $desktop-breakpoint) {
	}
}
