:root {
	// https://coolors.co/ffffff-fff8e8-b22023-fcd581-000000
	// https://coolors.co/ffffff-dfdedc-c5b59f-b09a7c-000000
	// red
	--fire-brick: #B22023;
	--dark-color: #020202;
	--light-color: #fdfdfd;
	--footer-grey: #DFDEDC;
	--background-color: var(--light-color);
	// tans
	--khaki-pale: #C5B59f;
	--pale-taupe: #B09A7C;
	--cosmic-latte: #FFF8E8;
}
