@import './breakpoints.scss';

#footer {

	font-size: var(--padding-sm);
	background-color: var(--dark-color);
	color: var(--footer-grey);
	font-weight: lighter;
	padding: 0;

	#footerInner {
		padding: var(--scale-md) var(--scale-sm) var(--padding-lg);

		a {
			transition: var(--link-transition);
			&:hover {
				color: var(--fire-brick);
				transition: var(--link-transition);
			}
		}

		h2, h3 {
			color: var(--light-color);
			font-weight: bold;
			font-size: var(--padding-lg);
		}

		.footer-module {
			// font-size: var(--scale-xs);
			margin-bottom: var(--vertical-rhythm);
			> p, ul {
				margin-top: var(--vertical-rhythm);
			}
			* + * {
				// margin-top: var(--vertical-rhythm);
			}
			p {
				font-size: inherit;
			}
		}

	}

	.bordered {
		padding: 0 var(--scale-reg) var(--scale-reg);
		border: var(--white-border);
		align-self: flex-start;
	}
	#siteLinks {
		ul {
			list-style-type: disc;
			font-weight: lighter;
			li:not(:first-child) {
				margin-top: var(--padding-xs);
			}
			a {
				color: inherit;
			}
		}
	}

	#legalFooter {
		clear: both;
		text-align: center;
		background: var(--cosmic-latte);
		color: var(--dark-color);
		padding: var(--padding-xs) 0;
		font-size: var(--scale-sm);
		p {
			margin-bottom: 0;
		}
		a {
			// TODO: Theme color here:
			color: var(--dark-color);
			transition: color 0.25s ease-in;
			&:hover {
				color: var(--fire-brick);
				transition: color 0.25s ease-in;
			}
		}
	}

	@media (min-width: $tablet-breakpoint) {

		#footerInner {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.footer-module {
				align-items: flex-start;
			}
			.footer-module:not(:last-child) {
				margin-right: var(--padding-sm);
				flex: 1 1 auto;
			}
		}

		// .footer-module {
		// 	padding-bottom: 0;
		// }
		.google-maps-container {
			flex: 2 1 auto;
		}
		#siteLinks {
			flex: 1 1 auto;
			margin-left: var(--padding-one);
		}
		#legalFooter {
			flex-basis: 100%;
		}

	}

	@media (min-width: $desktop-breakpoint) {
		// padding: var(--scale-md) var(--padding-xxxl) 0;
		// padding-left: var(--padding-xxxl);
		// padding-right: var(--padding-xxxl);

		#footerInner {
			padding: var(--scale-xxl) var(--padding-xxxl) var(--padding-xxxl);

		}
	}

}
