/* global styles -- site-wide */
@import './typography.scss';

html {
	font-size: calc(var(--text-base-size) + 1vw);
}

body {
	background-color: var(--background-color);
	background-color: var(--light-color);
	position: relative;
}

p {
	margin-bottom: var(--vertical-rhythm);
}

a {
	text-decoration: none;
	color: var(--pale-taupe);
	transition: var(--link-transition);
	&:hover {
		color: var(--fire-brick);
		transition: var(--link-transition);
	}
}

blockquote {
	font-size: var(--scale-md);
	font-family: var(--secondary-font);
	font-style: italic;
	border-top: 4px solid var(--khaki-pale);
	padding: var(--scale-md) 0 0 var(--scale-sm);
}

/* scrim for nav */
#scrim {
	opacity: 0;
	background: black;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	transition: opacity 0.5s ease-in;
	&.active-scrim {
		background-color: black;
		opacity: 0.5;
		z-index: 1;
	}
}

.clear {
	clear: both;
	margin-top: var(--scale-lg);
}

.sidebar-dark {
	padding: var(--scale-lg);
	border: 2px solid var(--dark-color);
	color: var(--light-color);
}
