// @import './reset.css';
// @import './vars.scss';

$hamburger-layer-color: var(--dark-color);
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

@import './breakpoints.scss';

// mobile styles
#header {

	font-family: var(--secondary-font);
	font-size: var(--padding-md);
	text-transform: lowercase;
	background-color: var(--dark-color);
	color: var(--pale-taupe);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	padding: var(--padding-md) var(--padding-sm);
	border-bottom: var(--hero-border);

	a {
		color: inherit;
	}

	#mobMenu {
		border: none;
		z-index: 1;
		background-color: inherit;
		color: inherit;
		padding: var(--padding-xs);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#marqueeContainer {
		flex-basis: 100%;
		color: var(--pale-taupe);

		#headline {
			font-weight: 400;
			color: inherit;
			text-transform: capitalize;
			font-size: var(--scale-xxxl);
			line-height: var(--text-scale-ratio);
		}
		h1, #byline {
			margin: 0; }
		#byline {
			text-transform: lowercase;
			font-family: var(--secondary-header-font);
			font-size: var(--scale-xs);
			color: inherit;
			font-weight: lighter;
			font-style: italic;
			margin-bottom: var(--scale-sm); /* TODO: use scale here */
		}
	}

	#contactBar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-basis: 100%;
		font-size: var(--scale-sm);
		color: inherit;
		font-family: var(--header-font);

		.phone-icon {
			font-size: var(--scale-xs);
		}
		#headerPhone {
			margin: 0;
			margin-left: auto;
			margin-right: calc(var(--padding-xs) / 2);
			font-size: var(--scale-md);
			margin-bottom: 0;
			align-self: center;
			a {
				// margin: 0;
				padding: var(--padding-xs) var(--padding-xs);
				color: var(--pale-taupe);
				color: inherit;
				font-style: oblique;
				// + span {
				// 	color: var(--fire-brick);
				// 	vertical-align: top;
				// }
			}

		}
	}

	// desktop styles
	@media (min-width: $tablet-breakpoint) {

		//padding: var(--padding-one) 0 0; // NOTE: increase padding on desktop
		// display: flex;
		// justify-content: center;
		display: block;

		#contactBar {
			#headerPhone {
				flex: 1 1 100%;
				align-self: flex-end;
				text-align: right;
			}
			#mobMenu {
				display: none;
			}
		}

		#nav, #marqueeContainer {
			text-align: center;
		}

		// #marqueeContainer {
		// 	flex-basis: 100%;
		// 	#byline {
		// 		// white-space: nowrap;
		// 	}
		// 	&.centered {
		// 		display: flex;
		// 		flex-wrap: wrap;
		// 		justify-content: center;
		// 	}
		// }

	}

	@media (min-width: $desktop-breakpoint) {
		padding-left: var(--padding-xxxl);
		padding-right: var(--padding-xxxl);

		#marqueeContainer {
			flex: 1 1 50%;
			#byline {
				white-space: normal;
			}
		}

	}

	&.contact-bar-bottom {
		border-bottom: none;
		#nav {
			margin-bottom: var(--scale-md);
		}
		#contactBar {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding-right: var(--scale-xs);
			background: var(--pale-taupe);
			color: var(--dark-color);
			border-top: 1px solid var(--khaki-pale);
			border-bottom: 1px solid var(--dark-color);
		}
	}

}
