// @import './reset.css';
// @import './vars.scss';

$hamburger-layer-color: var(--pale-taupe);
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

@import './breakpoints.scss';

// mobile styles
#header {

	font-family: var(--secondary-font);
	text-transform: lowercase;
	background-color: var(--dark-color);
	color: var(--pale-taupe);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	padding: var(--padding-md) var(--padding-sm);
	border-bottom: 3px solid var(--pale-taupe);

	a {
		color: inherit;
	}

	#topBar {

		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-basis: 100%;
		font-size: var(--scale-reg);
		color: inherit;

		#headerPhone {
			margin: 0;
			margin-left: auto;
			font-size: var(--scale-reg);
			margin-bottom: 0;
			align-self: center;
			a {
				// margin: 0;
				padding: var(--padding-xs) var(--padding-xs);
				color: var(--pale-taupe);
				color: inherit;
				font-style: oblique;
				+ span {
					color: var(--fire-brick);
					vertical-align: top;
				}
			}

		}
	}

	#mobMenu {
		// margin-left: var(--padding-sm);
		border: none;
		z-index: 1;
		background-color: inherit;
		color: inherit;
		padding: var(--padding-xs);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#marqueeContainer {
		flex-basis: 100%;
		margin-top: var(--padding-xs);
		color: var(--pale-taupe);

		#headline {
			font-weight: 400;
			color: inherit;
			text-transform: capitalize;
		}
		h1, #byline {
			margin: 0; }
		#byline {
			text-transform: lowercase;
			font-size: var(--scale-sm);
			font-style: italic;
			color: inherit;
			margin-bottom: var(--padding-sm); /* TODO: use scale here */
		}
	}

	// desktop styles
	@media (min-width: $tablet-breakpoint) {

		//padding: var(--padding-one) 0 0; // NOTE: increase padding on desktop
		display: flex;

		#topBar {
			#headerPhone {
				flex: 1 1 100%;
				align-self: flex-end;
				text-align: right;
			}
			#mobMenu {
				display: none;
			}
		}


		#marqueeContainer {
			flex-basis: 100%;
			#byline {
				// white-space: nowrap;
			}
		}

	}

	@media (min-width: $desktop-breakpoint) {
		padding-left: var(--padding-xxxl);
		padding-right: var(--padding-xxxl);

		#marqueeContainer {
			flex: 1 1 50%;
			#byline {
				white-space: normal;
			}
		}

	}


}
