// index page styles

.section {

	display: flex;
	padding: 0;
	border: 3px solid #777bbb;
	margin-bottom: 1.33em;

	p {
		flex: 1 1 50%;
		margin-bottom: 0
	}

	.image-box {
		width: 100%;
		height: 100%;
		flex: 2 0 50%;
	}

	&:nth-child(odd) {
		flex-direction: row-reverse;
	}

	@media (max-width: 680px) {
		padding: 0 0.5em;
		flex-wrap: wrap;
	}
}
