@import './reset.css';
@import './vars.scss';
@import './typography.scss';
@import './globals.scss';

#main-container {

	width: 100%;
	max-width: none;
	padding: var(--vertical-rhythm) var(--padding-xs) var(--padding-xxl);
	overflow: hidden;

	& section + section {
		margin-top: var(--vertical-rhythm);
	}

	p, ul, ol, span {
		font-size: var(--padding-sm);
	}

	p {
		line-height: var(--line-height);
		font-weight: 400;
	}

	#video-section {
		// border: 1px dotted var(--dark-color);
		p.video {
			margin: var(--scale-md);
			height: 6em;
			border: 1px solid var(--dark-color);
		}
	}
	/* sections */

	.section {

		padding: 0;
		overflow: hidden;

		a.cta {
			display: inline-block;
			margin: var(--vertical-rhythm) 0;
		}

		&.flex-section {
			display: flex;
			flex-wrap: wrap;
			& > .flex-child {
				margin-right: var(--scale-sm);
				flex: 1 1 auto;
			}
			& > .flex-child:last-child {
				margin-right: 0;
				flex: 1 1 0px;

			}
			h1, h2, h3 {
				flex-basis: 100%;
			}

		}

		&.overflow-visible {
			overflow: visible;
		}

	}

	.section .column-parent {
		columns: 2 12em;
	}
	ul.list {
		width: auto;
		border-top: 1px ridge var(--footer-grey);
		&.floating-list {

			width: calc(50% / var(--text-scale-ratio));
			margin: 0 var(--scale-sm);
			padding: var(--padding-sm);

			> h2, h3 {
				margin-top: 0;
			}
			&.right {
				float: right;
				margin-left: var(--scale-sm);
			}
			&.left {
				float: left;
				margin-right: var(--scale-sm);
			}
		}
		&.no-border {
			border-top-width: 0px;
		}
	}

	p > span.drop-caps {
		font-family: var(--secondary-font);
		font-size: var(--padding-md);
		font-style: italic;
		text-transform: lowercase;
		vertical-align: text-bottom;
		line-height: 1;
	}

}

@media (min-width: $tablet-breakpoint) {

	#main-container {
		border: var(--special-border);
		margin: 0 auto;
		// padding-left: 0;
		// padding-right: 0;
		max-width: var(--container-mid);
		clear: both;

		.section.flex-section {
			.flex-child {
				flex: 2 1 66%;
			}
			.flex-child:last-of-type {
				flex: 1 2 0px;
			}
		}

	}
}
