@import './typography.scss';

#nav {

	position: relative;
	width: 100%;
	// color: white;
	color: var(--pale-taupe);
	transition: color 0.5s ease-in;
	a:hover {
		color: var(--fire-brick);
		transition: color 0.25s ease-in;
	}

	ul {

		// display: block;
		list-style: none;
		padding: 0;
		margin: 0;
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		// width: 80%;
		// max-width: 30em;
		background-color: white;
		border-right: 2px solid #333;
		z-index: 1001;
		transition: left 0.5s ease-in-out;

		li {
			margin: var(--padding-sm) var(--padding-xs);
			// flex-basis: 0px;
			// display: block;
			// transition: width 0.5s;

		}



	}

	// a#mobMenu {
	// 	display: block;
	// }

	@media (max-width: 680px) {

		ul {
			// transition: none;
			width: 70%;

			&.drawer-open {
				left: 0;
				transition: left 0.5s ease-in-out;
				min-width: var(--mobile-menu-min);
			}
			&.drawer-closed {
				left: -100%;
				transition: left 0.5s ease-in-out;
			}
		}

	}

	@media (min-width: 681px) {

		width: auto;

		ul {
			display: flex;
			left: 0;
			position: relative;
			border: none;
			background: none;
			transition: none;
		}
	}

}
