:root {
	--primary-font: 'Quicksand', sans-serif; //body
	--secondary-font: 'Cinzel', serif; //headers

	--text-scale-ratio: 1.25;
	--second-scale: 1.33;
	--text-base-size: 18px; // NOTE: Is this proper?

	--line-height: var(--text-scale-ratio);
	--vertical-rhythm: calc(var(--text-base-size) * var(--text-scale-ratio));
	--alt-vertical-rhythm: calc(var(--text-base-size) * var(--second-scale));
}

body {
	font-family: var(--primary-font);
	font-weight: 400;
	line-height: var(--line-height);
}

h1,
.h1 {
	font-size: var(--scale-xl);
}

h2,
.h2 {
	font-size: var(--scale-lg);
}

h3,
.h3 {
	font-size: var(--scale-md);
}

h1, h2, h3 {
	line-height: var(--line-height);
}

p {
	font-size: var(--scale-sm);
}

h1, h2, h3 {
	font-family: var(--secondary-font);
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 0;
}

h4, .h4 {
	font-family: var(--primary-font);
	font-weight: 800;
	margin-bottom: var(--scale-xs);
	font-size: var(--scale-md);
}

ul, ol {
	font-weight: lighter;
}
