:root {
	--primary-font: 'Poppins', sans-serif; //body
	--secondary-font: 'Cinzel', serif; //headers

	--base-size: 18;
	--text-base-size: 18px; // NOTE: Is this proper?
	--text-scale-ratio: 1.25;
	--second-scale: 1.33;

	--line-height: var(--second-scale);
	--vertical-rhythm: calc(var(--text-base-size) * var(--text-scale-ratio));

	/* type scale */
    --scale-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --scale-sm: calc(1em / var(--text-scale-ratio));
    --scale-md: calc(1em * var(--text-scale-ratio));
    --scale-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --scale-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --scale-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --scale-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

body {
	font-family: var(--primary-font);
	font-weight: 400;
	line-height: var(--line-height);
}

h1,
.h1 {
	font-size: var(--scale-xl);
}

h2,
.h2 {
	font-size: var(--scale-lg);
}

h3,
.h3 {
	font-size: var(--scale-md);
}

p {
	// font-size: var(--scale-md);
}

h1, h2, h3 {
	font-family: var(--secondary-font);
	margin-top: var(--scale-md);
	margin-bottom: var(--scale-sm);
	// text-transform: uppercase;
}

h4, .h4 {
	font-family: var(--primary-font);
	font-weight: 800;
	margin-bottom: var(--scale-xs);
	font-size: var(--scale-md);
}

ul, ol {
	font-weight: lighter;
}
