:root {

	--base-size: 18;

	/* type scale */
    --scale-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --scale-sm: calc(1em / var(--text-scale-ratio));
	 --scale-reg: 1em;
    --scale-md: calc(1em * var(--text-scale-ratio));
    --scale-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --scale-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --scale-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --scale-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

	--padding-xs: calc(1em / ( var(--second-scale) * var(--second-scale) ) );
	--padding-sm: calc(1em / var(--second-scale));
	--padding-md: calc(1em * var(--second-scale));
	--padding-lg: calc(1em * var(--second-scale) * var(--second-scale));
	--padding-xl: calc(1em * var(--second-scale) * var(--second-scale) * var(--second-scale));
	--padding-xxl: calc(1em * var(--second-scale) * var(--second-scale) * var(--second-scale) * var(--second-scale));
	--padding-xxxl: calc(1em * var(--second-scale) * var(--second-scale) * var(--second-scale) * var(--second-scale) * var(--second-scale));

	/* breakpoints */
	--container-mid: 34em;
	// minimum size of mobile nav drawer
	--mobile-menu-min: calc(300px / var(--text-base-size));

	/* transition */
	--link-transition: color 0.25s ease-in;

	--hero-border: 4px ridge var(--pale-taupe)

}

@media screen and (min-width: $tablet-breakpoint) {
    :root {
        /* mobile vars */
    }
}
