@import './typography.scss';
@import './colors.scss';

:root {

	/* padding vars */
	--padding-small: var(--scale-xs);
	--padding-half: var(--scale-sm);
	--padding-one: var(--scale-md);
	--padding-one-plus: var(--scale-lg);
	--padding-two: var(--scale-xl);
	--padding-two-plus: var(--scale-xxl);
	--padding-three: var(--scale-xxxl);

	/* breakpoints */
	// --container-mid:
	--mobile-menu-min: calc(300px / var(--text-base-size))
}
