@import '../styles/breakpoints.scss';

.google-map-container {
	height: 16em;
	max-height: 10em;
	width: auto;
	margin: var(--vertical-rhythm) auto;
}

@media (min-width: $tablet-breakpoint) {
	.google-map-container {
		width: auto;
		height: 10em;
	}
}

.google-map-container.left {
	margin-right: 0px;
	margin-left: auto;
	float: left;
}

.google-map-container.right {
	margin-right: 0px;
	margin-left: auto;
	float: right;
}
