@import '../styles/breakpoints.scss';


.google-map-container {
	height: 16em;
	width: auto;
	margin-bottom: 1em;
	/* border: 1px solid black; */
	/* margin: 0; */
}

@media (min-width: $tablet-breakpoint) {
	.google-map-container {
		width: auto;
		height: 10em;
	}
}

.google-map-container.left {
	margin-right: 0px;
	margin-left: auto;
	float: left;
}

.google-map-container.right {
	margin-right: 0px;
	margin-left: auto;
	float: right;
}
