.google-map-container {
	height: 16em;
	width: 100%;
	margin: 0;
}

.google-map-container.left {
	margin-right: 0px;
	margin-left: auto;
	float: left;
}

.google-map-container.right {
	margin-right: 0px;
	margin-left: auto;
	float: right;
}
