// mobile styles
#header {

	background-color: #ccc;
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 3px solid #444;

	.contact-phone {
		border: 2px solid orange;
		margin: 0;
		margin-left: auto;
		a {
			background-color: green;
			margin: 0;
			padding: 0.25em 0.5em;
		}
	}

	#headerContainer {
		h1, p { margin: 0; }
		p { margin-bottom: 0.33em; /* TODO: use scale here */
		}
		p {
			text-transform: capitalize;
			font-style: oblique;
		}
	}

	// desktop styles
	@media (min-width: 681px) {
		padding: 1em; // NOTE: increase padding on desktop
		padding-bottom: 0;
		.contact-phone {
			flex: 1 1 100%;
			align-self: flex-end;
			text-align: right;
		}
		p[name="description"] {
			white-space: nowrap;
		}
	}


}
