// mobile styles
#header {

	position: relative;
	background-color: #ccc;
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 3px solid #444;

	#headerPhone {
		margin: 0;
		margin-left: auto;
		a {
			margin: 0;
			padding: 0.25em 0.5em;
		}
	}

	#mobMenu {
		margin-left: 0.5em;
		border: none;
		z-index: 1;
	}

	#marqueeContainer {
		flex-basis: 100%;
		h1, p { margin: 0; }
		p { margin-bottom: 0.33em; /* TODO: use scale here */
		}
		p {
			text-transform: capitalize;
			font-style: oblique;
		}
	}

	// desktop styles
	@media (min-width: 681px) {

		padding: 1em; // NOTE: increase padding on desktop
		// padding-bottom: 0;
		display: flex;

		#headerPhone {
			flex: 1 1 100%;
			align-self: flex-end;
			text-align: right;
		}
		#mobMenu {
			display: none;
		}

		#marqueeContainer {
			flex-basis: auto;
		}

		#byline {
			// white-space: nowrap;
		}

	}

	@media (min-width: 800px) {
		padding-left: 10%;
		padding-right: 10%;
		// #byline {
		// 	white-space: normal;
		// }
	}


}
