#header {
	background-color: #ccc;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #444;

	#headerContainer {
		h1, p {
			margin: 0 0 0.33em; /* TODO: use scale here */
		}
		p {
			text-transform: capitalize;
			font-style: oblique;
		}
	}

	@media (max-width: 680px) {
		flex-wrap: wrap;
	}


}
