.image-box {

	border: 4px solid #667cfe;
	height: auto;
	width: 50%;
	overflow: hidden;
	margin-top: 0 !important;

	&:not(:last-of-type) {
		margin-bottom: 1em;
	}

	&.right {
		float: right;
	}

}
