#nav {

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;

		@media (max-width: 680px) {
			flex-wrap: wrap;
		}

		li {
			margin: 1em;
			flex-basis: 0px;
			display: inline;
		}
	}



}
